parameters:
    level: 3
    paths:
        - 'src/'
        - 'tests/'

    tmpDir: var/cache/phpstan

includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
