<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>BowlOfSoupNormalizerBundle.php</file>
      <directory>src/DependencyInjection</directory>
      <directory>src/EventListener</directory>
      <directory>src/Exception</directory>
      <directory>src/Model</directory>
      <directory>src/Resources</directory>
      <directory>tests</directory>
      <directory>vendor</directory>
    </exclude>
    <report>
      <clover outputFile="tests/coverage/clover.xml"/>
      <html outputDirectory="tests/coverage"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="full">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
